body {
    text-align: center;
}


#bio {
    font-family: 'Cinzel Decorative', cursive;
    padding: 50px;
    text-align: center;
}

h1 {
    font-size: 40px;
    font-family: sans-serif;
    font-weight: 300;
}

.line {
    height: 6px;
    background-color: #000;
    width: 70px;
    margin: 8px auto;
}


.my_nav_bar {
    position: sticky;
    top: 0;
    z-index: 9999;
}

.img{
    width="300"
}













